<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-calm tabs-icon-only">
        <ion-tab title="profile" icon="ion-android-person" href="#/tab/studentProfile">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="home" icon="ion-ios-home" href="#/tab/studentHome">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="search" icon="ion-search" href="#/tab/searchStudent">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>