<ion-view title="Minternships" id="page3">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-search-strong" ui-sref="tabsController.search"></a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="item in this.items"
                type="item-text-wrap" ng-click="jobSelected(item)">
        <img ng-src="{{iconFilter(item.categories[0].iconUrl)}}">
        <div class="job-title">{{item.title}}</div>
        <div style="font-size: 0.69em" class="item-text-wrap job-owner">{{item.projectOwner.displayName}}</div>
        <div style="font-size: 0.69em" class="item-text-wrap job-description">Potential Learnings: £{{item.budget}}</div>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-energized" ng-click="like(item)"><i class="icon ion-heart"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <ion-item id="viewableJobs" class="button button-calm button-block" ng-click="showMoreJobs()">Show more</ion-item>
  </ion-content>
</ion-view>
