<ion-view title="Tabs Controller" id="page1">
  <ion-tabs class="tabs-calm tabs-icon-top">
    <ion-tab title="Profile" icon="ion-person" href="#/tab/studentProfile">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Home" icon="ion-ios-home" href="#/tab/studentHome">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Activity" icon="ion-easel" href="#/tab/myJobsStudent">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
  <!-- <div class="tabs-striped tabs-color-calm">
    <div class="tabs">
      <a class="tab-item active" href="#/tab/studentProfile">
        <i class="icon ion-person"></i>
        profile
      </a>
      <a class="tab-item" href="#/tab/studentHome">
        <i class="icon ion-ios-home"></i>
        home
      </a>
      <a class="tab-item" href="##/tab/myJobsStudent">
        <i class="icon ion-easel"></i>
        search
      </a>
    </div>
  </div> -->
</ion-view>
