<ion-view title="Job" id="page5" ng-controller="publicJobsCtrl">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list card">
      <div class="item item-body">
        <p><b>{{this.bid.project.title}}</b></p>
        <p>Potential Learnings: £{{this.bid.offer}}</p>
        <p>Cover Letter: {{this.bid.proposal}}</p>
      </div>
      <div class="item item-body">
        <p>Project brief: <br/><br/>{{this.bid.project.projectBrief}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
